/* h1 {
  background-color: black;
  color: ghostwhite;
  font-size: 6rem;
} */

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}



img {
  border: #ccc solid 1px;
  padding: 1rem;
  text-align: center;
  margin: 0.75rem;
  flex: 1;
  border-radius: 30px;
  width: 300px;
  height: 250px;
}

li {
  color: white;
  font-size: 1.5rem;
  font-style: italic;
}
