body {
  background-image: url("https://images.unsplash.com/photo-1559628233-100c798642d4?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MnwxfDB8MXxyYW5kb218MHx8bmF0dXJlfHx8fHx8MTYyNjQwMzAxMQ&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  background-color: #C0D9AF;
  background-size: cover;
  color: white;
  font-size: 1rem;
  font-style: italic;
}
